<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.AlbumMapper">

    <resultMap id="d1" type="Album">
        <id column="id" property="id"/>
        <!--<result column="title" property="title"/>
         <result column="count" property="count"/>-->
        <result column="cover_img" property="coverImg"/>
        <!--<result column="score" property="score"/>
        <result column="author" property="author"/>
        <result column="broadcast" property="broadcast"/>
        <result column="brief" property="brief"/>-->
        <result column="pub_date" property="pubDate"/>
        <collection property="children" ofType="Chapter" column="id" select="queryChapter">

        </collection>
    </resultMap>

    <resultMap id="d2" type="Chapter">
        <!-- <id column="id" property="id"/>
         <result column="title" property="title"/>
         <result column="size" property="size"/>
         <result column="duration" property="duration"/>
         <result column="url" property="url"/>-->
        <result column="upload_date" property="uploadDate"/>
        <result column="album_id" property="albumId"/>
    </resultMap>

    <select id="queryAlbum" resultMap="d1">
        select *
        from album limit
             ${(page-1)*rows},
             ${rows}
    </select>

    <select id="queryChapter" resultMap="d2">
        select *
        from chapter
        where album_id = #{id}
    </select>

    <select id="queryAllAlbum" resultMap="d1">
        select *
        from album
    </select>

</mapper>