<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.UserMapper">
    <select id="queryCity" resultType="Province">
        select count(*) value,province name
        from user
        group by province;
    </select>

    <select id="queryUserCount" resultType="java.lang.Integer">
    <![CDATA[
        select count(*)
        from user
        where datediff(now(), reg_date) < #{day}
        ]]>
    </select>
</mapper>